/*------------- whole web -------*/
*{
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
}

:root{
    --wheat: #F0F5F9;
    --geyser: #c9d6df;
    --pearl:#52616b;
    --dark: #1e2022;
    --black: #000000;
    --aqua: #00ffff;

    /* new colors */
    --purple: #a155ff;
    --green: #ceff99;
    --aquamarine: #81ffd6;
}

body{
    background-color: var(--wheat);
    height: 100%;
}

nav{
    width: 100%;
    height: 110px;
}

.logo{
    margin: 10px;
    width: 100px;
    height: auto;
    background-color: var(--black);
    border-radius: 50%;
    padding: 5px;
    box-shadow: 10px 20px 20px var(--pearl);
    
}


nav ul {
    float: right;
    margin: 20px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    background-color: var(--aqua);
    box-shadow: 10px 20px 20px var(--pearl);
}

nav ul li{
    display: inline-block;
    line-height: 25px;
    margin: 0px 10px 0px 0px;
    padding: 20px 0 20px 0;
    
}

nav ul li a{
    color: var(--black);
    font-size: 25px;
    padding: 10px 20px 10px 20px;
    margin: 10px 30px 10px 30px;
    transition: 2s;
    
}

nav ul li a:hover{
    transition: 1s;
    border-radius: 20px;
    color: var(--aqua);
    background-color: var(--purple);
    box-shadow: 10px 20px 20px var(--pearl);
}

/* 
a.active,a:hover{
    transition: 1s;
    border-radius: 20px;
    color: var(--aqua);
    background-color: var(--purple);
    box-shadow: 10px 20px 20px var(--pearl);
} */

.fa-bars{
    color: var(--aqua);
    font-size: 25px;
    float: right;
    margin: 30px 50px 0 0;
    visibility: hidden;
}

.fa-xmark{
    color: var(--aqua);
    font-size: 25px;
    float: right;
    margin: 30px 50px 0 0;
    visibility: hidden;
}



footer{
    width: 100%;
    height: 350px;
    background-color: var(--black);
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-bottom: 0;
}

.social-media{
    margin-top: 30px;
    align-items: center;
    text-align: center;
}

.fa{
    color: var(--geyser);
    padding: 25px;
    font-size: 20px; 
}

.fa-brands{
    color: var(--geyser);
    padding: 25px;
    font-size: 20px;
}

.copyRight{
    color: var(--geyser);
    font-size: 18px;
}

.footerLogo{
    margin-top: 20px;
    padding: 10px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 10px 20px 40px var(--pearl);
}

/*-------------- index.html-----------------*/
.content-container{
    padding: 20px;
    margin: 20px;
    display: flex;
    gap: 50px;
}

.text-container{
    padding-top: 130px;
    width: 50vw;
    color: var(--dark);
}

.text-container h1{
    font-size: 50px;
}

.text-container h3{
    font-family: 'Courier New', Courier, monospace;
}

.image-container{
    width: 400px;
    border-radius: 50%;
    background-color: var(--purple);
    box-shadow: 20px 30px 20px var(--pearl);
    
}

/*-------------- about.html-----------------*/
.about{
    background-color: var(--aquamarine);
    height: 380vh;
}
.description{
    margin: 50px 10px 0px 10px;
    font-size: 25px;
}

.my-about{
    margin: 10px 20px 0px 0px;
    border-radius: 0 30px 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.other-about{
    margin: 10px 0px 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px 0 0 30px;
}

.about-text{
    width: 50vw;
    font-size: 25px;
}

.about-image{
    box-shadow: 20px 30px 20px var(--pearl);
}


/*-------contact.html---------------*/


.contact_content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

.myForm{
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.myTxt{
    margin: 20px 0 10px 0;
    height: 30px;
    font-size: 25px;
    border: 0;
    border-radius: 5px;
}

form textarea{
    font-size: 20px;
    border-radius: 5px;
}


/* ----------------service.html-------------------- */

.my-container{

    margin-top: 30px;
    padding: 5px;
}

.my-container-txt{
    font-size: 22px;
}

.my-services{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service{
    background-color: var(--purple);
    height: 480px;
    display: flex;
    flex-direction: column;
    width: 280px;
    align-items: center;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 20px 20px 20px var(--pearl);
    justify-content: space-between;
    padding: 20px;
}

.service img{
    margin-top: 10px;
    width: 250px;
    border-radius: 10px;
}

.service-txt{
    font-size: 20px;
}

/* ---------------- MEDIA QUERIES RESPONSIVE----------*/
@media (max-width: 1208px) {

    .logo{
        margin: -10px 5px 0px 0px;
        width: 100px;
        height: auto;
    }
    
}

@media (max-width: 1174px) {

    .logo{
        margin: -10px 5px 0px 0px;
        width: 100px;
        height: auto;
    }

    nav ul {
        float: right;
        margin-right: 30px;
    }

    nav ul li{
        display: inline-block;
        line-height: 25px;
        margin: 40px 20px;
    }
    
    nav ul li a{
        color: var(--wheat);
        font-size: 30px;
    }

    .content-container{
        width: 90%;
        padding: 20px;
        margin: 20px;
        display: flex;
        gap: 20px;
    }

    .text-container{
        padding-top: 10px;
        width: 400px;
        color: var(--black);
    }

    .image-container{
        width: 500px;
        margin-top: -50px;
        border-radius: 10px;
    }

    .footerLogo{
        width: 25vw;
        height: auto;
    }
}

@media (max-width: 948px){

    nav ul{
        position: absolute;
        background-color: var(--dark);
        height: 400px;
        margin-top: -10px;
        width: 100%;
        left: -100%;
        transition: 1s;
    }

    nav ul li{
        display: block;
        text-align: center;
    }

    nav ul li a{
        color: var(--aqua);
        font-size: 25px;
    }

    .fa-bars{
        color: var(--aqua);
        font-size: 25px;
        float: right;
        margin: 30px 50px 0 0;
        visibility: visible;
    }

    .fa-xmark{
        color: var(--aqua);
        font-size: 25px;
        float: right;
        margin: 30px 50px 0 0;
        visibility: visible;
    }

    .text-container{
        padding-top: 10px;
        width: 400px;
        color: var(--black);
    }

    .content-container{
        width: 90%;
        display: flex;
        gap: 20px;
    }

    .image-container{
        width: 400px;
        padding-top: 10px;
        border-radius: 10px;
    }

    .footerLogo{
        width: 35vw;
        height: auto;
    }

}



@media (max-width: 915px){

    .text-container{
        padding-top: -100px;
        width: 400px;
        color: var(--black);
    }

    .content-container{
        width: 90%;
        display: flex;
        gap: 20px;
    }

    .image-container{
        width: 400px;
        padding-top: 50px;
        border-radius: 10px; 
    }

}

@media (max-width: 904px){

    .text-container{
        width: 400px;
        color: var(--black);
    }

    .content-container{
        width: 90%;
        padding: 20px;
        margin: 20px;
        display: flex;
        gap: 20px;
    }

    .image-container{
        width: 400px;
        margin-top: -200px;
        border-radius: 10px;
    }
}

@media (max-width: 915px){

    .text-container{
        margin-top: -100px;
        width: 400px;
        color: var(--black);   
    }

    .content-container{
        width: 90%;
        padding: 20px;
        margin: 20px;
        display: flex;
        gap: 20px;
    }

    .image-container{
        width: 400px;
        margin-top: -100px;
        border-radius: 10px;
    }

}

@media (max-width: 828px){

    nav ul{
        position: absolute;
        background-color: var(--dark);
        height: 400px;
        margin-top: -10px;
        width: 100%;
        left: -100%;
        transition: 1s;
    }

    nav ul li{
        display: block;
        text-align: center;
        
    }

    nav ul li a{
        color: var(--aqua);
        font-size: 35px;
    }


    .text-container{
        padding-top: 100px;
        width: 350px;
        color: var(--black);
    }

    .content-container{
        width: 90%;
        display: flex;
        gap: 10px;
    }

    .image-container{
        width: 300px;
        padding-top: 100px;
        border-radius: 10px;
    }

    .footerLogo{
        width: 40vw;
        height: auto;
    }

}

@media (max-width: 792px) {

    .content-container{
        width: 90%;
        padding: 20px;
        margin: 20px;
        display: flex;
        gap: 20px;
    }

    .image-container{
        width: 300px;
        padding-top: 120px;
        border-radius: 10px;
    }
}

@media (max-width: 783px) {

    nav ul{
        position: absolute;
        background-color: var(--dark);
        margin-top: -10px;
        height: 400px;
        width: 100%;
        left: -100%;
        transition: 1s;
    }

    nav ul li{
        display: block;
        text-align: center;
    }

    nav ul li a{
        color: var(--aqua);
        font-size: 35px;
    }

    .text-container{
        padding-top: 100px;
        width: 400px;
        color: var(--black);
    }

    .content-container{
        width: 90%;
        padding: 20px;
        margin: 20px;
        display: flex;
        gap: 20px;
    }

    .image-container{
        width: 300px;
        padding-top: 150px;
        border-radius: 10px;
    }
}

@media (max-width: 700px) {

    nav{
        width: 100vw;
    }

    .content-container{
        width: 80%;
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .text-container{
        padding-top: 100px;
        width: 80vw;
        color: var(--black);
    }

    
    .image-container{
        width: 70vw;
        padding-top: 150px;
        border-radius: 10px;
    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .footerLogo{
        width: 50vw;
        height: auto;
    }

    .social-media{
        margin-top: 30px;
        align-items: center;
        text-align: center;
    }

    

}